html, body {
    margin: 0;
    height: 100%;
}

header {
    display: absolute;
    margin: 0 auto;
    background-color: #ffffff;
    color: white;
    height: 100px;
    border-color: #cccccc;
}

h1 {
    display: absolute;
    background-color:#4aaaa5;
    width: 250px;
    height: 100px;
    margin-left: 300px;
    margin-top: 0px;
    text-align: center;
    font-weight: bolder;
    line-height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}
.right {
    margin-right: 350px;
}

ul {
    list-style: none;
    float: right;
}

li {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    display: inline;
    padding-left: 10px;
    margin-right: 20px;
}

.about {
    display: block;
    clear: both;
    background-color: white;
    width: 960px;
    margin-left: 300px;
    padding: 30px;
}

p {
    font-size: larger;
}
img {
    width: 180px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

section {
    display: block;
    border-color: #dddddd;
    margin-bottom: 50px;
}
body {
    background: url("../images/contact.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h2 {
    color: #4aaaa5;
    font-weight: bolder;
    font-size: xx-large;
}



footer {
    background-color: #666666;
    height: 80px;
    color: lightgray;
    text-align: center;
    vertical-align: bottom;
    line-height: 130px;
    border-top: 8px solid #4aaaa5;
}